h1{
    text-shadow: 2px 2px 2px red; 
    text-shadow: 2px 2px 2px red, 40px 4px 40px green;
}
.box{
    background-color: aqua;
    width: 200px;
    height: 200px;
    box-shadow: -10px 10px 10px green;
    color: red;
}